footer {
  height: 300px;
  background-color: #212121;
  color: #f4f4f4;
}
footer .container {
  width: 1200px;
  margin: 0 auto;
}
footer .flex {
  display: flex;
  justify-content: space-between;
}
footer .flex .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  margin-right: 3rem;
  height: 300px;
}
footer .flex .footer-content h4 {
  text-align: center;
  font-size: 1.6rem;
}
footer .flex .footer-content p {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2.3rem;
}
footer .flex .footer-content button {
  background-color: rgba(50, 205, 50, 0.678);
  border: none;
  padding: 1.3rem 1.9rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
}
footer .flex .footer-content .icons {
  display: flex;
  list-style-type: none;
  font-size: 3rem;
}
footer .flex .footer-content .icons .fab {
  padding: 2rem;
}
aside {
  height: 50px;
  background: black;
}
aside p {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
  padding-top: 2rem;
}
