html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
header {
  background: linear-gradient(#000000, #2d3945);
  border-bottom: 1px solid rgba(50, 205, 50, 0.575);
}
header .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  header .container {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  header .container {
    max-width: 450px;
    margin: 0 auto;
  }
}
@media (max-width: 1215px) {
  header .container {
    width: 80%;
  }
}
header h1 {
  color: #fff;
}
header .header-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1.7rem;
}
@media (max-width: 800px) {
  header .header-flex {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
}
header .header-flex nav {
  display: flex;
  align-items: center;
}
header .header-flex nav a {
  padding-right: 30px;
  text-decoration: none;
  color: #fff;
}
header .header-flex nav .fas {
  background: rgba(50, 205, 50, 0.767);
  border: none;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1rem;
  color: black;
}
header .header-flex nav .fas:hover {
  cursor: pointer;
}
header .header-flex nav .fas i {
  color: #f7f7f7;
  font-size: 1.5rem;
}
.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img//heroImg.jpg);
  background-size: cover;
  background-position: center;
  height: 91.2vh;
}
.hero-img .container {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .hero-img .container {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .hero-img .container {
    width: 450px;
  }
}
@media (max-width: 1215px) {
  .hero-img .container {
    width: 90%;
  }
}
.hero-img .container .content {
  height: 91.2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-img .container .content p {
  margin: 0;
  font-size: 3.5rem;
  color: #fff;
  padding-bottom: 2rem;
  font-weight: 100;
  line-height: 5rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 800px) {
  .hero-img .container .content p {
    padding: 1rem;
    letter-spacing: 0.3rem;
  }
}
@media (max-width: 500px) {
  .hero-img .container .content p {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
.hero-img .container .content a {
  background: rgba(50, 205, 50, 0.678);
  border: none;
  border-radius: 3rem;
  padding: 1.3rem 1.9rem;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}
.hero-img .container .content a:hover {
  cursor: pointer;
}
@media (max-width: 800px) {
  .hero-img .container .content a {
    margin-left: 1rem;
  }
}
footer {
  height: 300px;
  background-color: #212121;
  color: #f4f4f4;
}
@media (max-width: 800px) {
  footer {
    display: none;
  }
}
@media (max-width: 900px) {
  footer {
    display: none;
  }
}
@media (max-width: 1215px) {
  footer {
    display: none;
  }
}
footer .container {
  width: 1200px;
  margin: 0 auto;
}
footer .flex {
  display: flex;
  justify-content: space-between;
}
footer .flex .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  margin-right: 3rem;
  height: 300px;
}
@media (max-width: 800px) {
  footer .flex .footer-content {
    display: none;
  }
}
@media (max-width: 900px) {
  footer .flex .footer-content {
    display: none;
  }
}
footer .flex .footer-content h4 {
  text-align: center;
  font-size: 1.6rem;
}
footer .flex .footer-content p {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2.3rem;
}
footer .flex .footer-content button {
  background-color: rgba(50, 205, 50, 0.678);
  border: none;
  padding: 1.3rem 1.9rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
}
footer .flex .footer-content .icons {
  display: flex;
  list-style-type: none;
  font-size: 3rem;
}
footer .flex .footer-content .icons .fab {
  padding: 2rem;
}
aside {
  height: 50px;
  background: black;
}
aside p {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
  padding-top: 2rem;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 10px;
}
.tabs .tabs-item .tabs-item-description h4 {
  padding-bottom: 1.5rem;
}
.tabs .tabs-item .tabs-item-description .dav-photo {
  height: 200px;
}
.tabs .tabs-item .tabs-item-description .nick-photo {
  height: 200px;
}
.tabs .tabs-item .tabs-item-description .chris-photo {
  height: 200px;
}
.tabs .tabs-item .tabs-item-description .leslie-photo {
  height: 200px;
}
.tabs .tabs-item .tabs-item-description .marcus-photo {
  height: 200px;
}
.tabs .tabs-item .tabs-item-description li {
  font-size: 2rem;
  padding-top: 2.5rem;
  list-style: none;
}
.tabs .tabs-item .tabs-item-description li a {
  text-decoration: none;
  color: black;
}
.tabs .tabs-item .tabs-item-description li .fab {
  font-size: 3rem;
  text-align: center;
}
.tabs .tabs-item .tabs-item-description li .fab:hover {
  color: orange;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #363232;
  font-weight: 100;
  border-radius: 10px 10px;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #363232;
  border-right: 1px solid white;
  color: white;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #239a24;
}
@media (max-width: 500px) {
  .tabs .tabs-link {
    padding: 20px 10px;
  }
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #363232;
  background-color: white;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
}
@media (max-width: 500px) {
  .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
.container h2 {
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}
.container .section {
  margin-top: 4rem;
}
@media (max-width: 500px) {
  .sub-footer {
    display: none;
  }
}
@media (max-width: 800px) {
  .sub-footer {
    display: none;
  }
}
main h2 {
  text-align: center;
}
main .card img {
  height: 300px;
}
main .card .card-body {
  height: 200px;
}
main .card .card-body .card-title {
  font-size: 2rem;
}
main .card .card-body .card-text {
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
}
footer {
  border-top: 1px solid limegreen;
}
.header-flex {
  height: 75px;
}
@media (max-width: 500px) {
  .header-flex {
    height: 150px;
  }
}
@media (max-width: 900px) {
  .header-flex {
    height: 150px;
  }
}
.header-flex h1 {
  margin-top: 20px;
  box-sizing: border-box;
}
.header-flex nav button {
  font-size: 0.5rem;
}
.header-flex nav button .fas {
  font-size: 1.3rem;
}
.fishing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.438)), url(../img/fishing.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
}
.painting {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)), url(../img/painting.png);
  box-shadow: 1px 1px 20px black;
  background-position: center;
  background-size: cover;
}
.swimming {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)), url(../img/swimming.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}
.bowling {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)), url(../img/bowling.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}
.knitting {
  background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.795)), url(../img/knitting.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}
.showFishing {
  background-image: url(../img/fishing.png);
}
.showPainting {
  background-image: url(../img/painting.png);
}
.showBowling {
  background-image: url(../img/bowling.png);
}
.showSwimming {
  background-image: url(../img/swimming.png);
}
.showKnitting {
  background-image: url(../img/knitting.png);
}
.card-title {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}
.card-text {
  color: white;
  font-size: 1.8rem;
}
