main {
  h1 {
    text-align: center;
  }
  .card {
    img {
      height: 300px;
    }
    .card-body {
      height: 200px;
      .card-title {
        font-size: 2rem;
      }
      .card-text {
        font-size: 1.5rem;
        padding-bottom: 2.5rem;
      }
    }
  }
}

footer {
  border-top: 1px solid limegreen;
}

.header-flex {
  nav {
    button {
      font-size: 0.5rem;
      .fas {
        font-size: 1.3rem;
      }
    }
  }
}

// Background Images For Experiences

.fishing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.795)),
    url(../img/fishing.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
}

.painting {
  background-image: url(../img/painting.png);
  box-shadow: 1px 1px 20px black;
  background-position: center;
  background-size: cover;
}

.swimming {
  background-image: url(../img/swimming.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}

.bowling {
  background-image: url(../img/bowling.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}

.knitting {
  background-image: url(../img/knitting.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}
