main {
  h2 {
    text-align: center;
  }
  .card {
    img {
      height: 300px;
    }
    .card-body {
      height: 200px;
      .card-title {
        font-size: 2rem;
      }
      .card-text {
        font-size: 1.5rem;
        padding-bottom: 2.5rem;
      }
    }
  }
}

footer {
  border-top: 1px solid limegreen;
}

.header-flex {
  height: 75px;
  @media @mobile {
    height: 150px;
  }
  @media @lg-tablet {
    height: 150px;
  }
  h1 {
    margin-top: 20px;
    box-sizing: border-box;
  }
  nav {
    button {
      font-size: 0.5rem;
      .fas {
        font-size: 1.3rem;
      }
    }
  }
}

// Background Images For Experiences

.fishing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.438)),
    url(../img/fishing.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
}

.painting {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)),
    url(../img/painting.png);
  box-shadow: 1px 1px 20px black;
  background-position: center;
  background-size: cover;
}

.swimming {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)),
    url(../img/swimming.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}

.bowling {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.466)),
    url(../img/bowling.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}

.knitting {
  background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.795)),
    url(../img/knitting.png);
  box-shadow: 1px 1px 20px black;
  background-size: cover;
  background-position: center;
}

.showFishing {
  background-image: url(../img/fishing.png);
}

.showPainting {
  background-image: url(../img/painting.png);
}

.showBowling {
  background-image: url(../img/bowling.png);
}

.showSwimming {
  background-image: url(../img/swimming.png);
}

.showKnitting {
  background-image: url(../img/knitting.png);
}

.card-title {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.card-text {
  color: white;
  font-size: 1.8rem;
}
